#wrapper {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    font-family: arial;
}

body {
    background-color: #edebe8;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    text-align: center;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    margin-right: 40px;
}

a {
    color: #777;
    text-decoration: none;
}

section {
    width: 350px;
    float: left;
}

.article {
    height: 120px;
    margin-top: 15px;
    margin-bottom: 200px;
}

aside {
    width: 610px;
    float: right;
}

p { 
    margin-top: 160px;
    margin-left: 25px;
    margin-right: 25px;
}

footer {
    height: 40px;
    clear: both;
    background-color: aqua;
}
